@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}
body{


    margin: 0;
    padding: 0;
    
}
a{
    margin: 0;
    padding: 0;
}
.body__main {
}

.body__footer {
}

.body__header {
    display:flex;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%) ,url("../media/pageheader-1920w.jpg");
    background-position: center;  
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 269px;
    width: 100vw;
    justify-content: center;
    align-items:flex-end;
}
.navbar__hamburgermenu-line{
    width: 46px;
    height: 8px;
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
}
.navbar__hamburgermenu__lines{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.navbar__hamburgermenu{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin: 24px 20px;
}
.navbar__hamburgermenu-text{
    font-family: "Open Sans";
    color: black;
    font-size: 12px;
}
.navbar-logo{
    width: 9em;
}
.header__text{
    bottom: 0;
    color: white;
    font-family: "Open Sans";
    padding-bottom: 1em;
    text-align: center;
}
.header__text > *{
    margin: 0;
}
.header__text-1{
    font-weight: 800;
    font-size: 30px;
}
.header__text-2{
    font-size: 20px;
    font-weight: 300;
}
.services{
    width: 89wh;
}
