body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "#";
}
.body__main {
    grid-area: main;
}

.body__footer {
    grid-area: footer;
}

.body__header {
    grid-area: header;
}