@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}
html {
    scroll-behavior: smooth;
}
:root{
    --primary: #EB6C27;
    --btn--filled:#EB6C27;
    --text: #3A3A3A;
    --text--gray: #888888;
    --bg:  #FFFFFF;
}
body{
    margin: 0;
}
body > *{
    font-family: "Open Sans";
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.main {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.9fr;
}
.gallery{
    display: grid;
    justify-content: center;
    grid-template-columns: 0.9fr;
}
.p{
    margin: 0.3em
}



/*NAVBAR*/
.navbar-logo{
    padding-left: 2em;
}
.hamburgermenu{
    padding-right: 2em;
}
.hamburgermenu-line{
    width: 46px;
    height: 8px;
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
}

.hamburgermenu{
    display: flex;
    text-decoration: none;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}
.hamburgermenu-text{
    font-size: 12px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    background-color: var(--bg);
    height: 60px;
}
.navbar--absolute{
    top: 0;
    position: absolute;
}

.navbar-logo{
    width: 9em;
}
/*MENU*/

.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 90vw;
    background-color: var(--primary);
    list-style: none;
    right: 20px;
    top: 80px;
    margin:0;
    padding: 0 ;
}
.menu.active {
    display: flex;
}
.menu.active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid var(--primary);
    top: -20px;
    right: 0.5em;
    position: absolute;
}

.menu__item{
    font-size: 16px;
    color: var(--bg);
    margin: 1em 1.5em;
    text-decoration: underline;

}
.menu__item > a{
    color: var(--bg);
}
.menu--left{
    text-align: left;
}

/*MAIN HEADER*/
.header-main {
    display:flex;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%) ,url("../media/pageheader-1920w.jpg");
    background-position: center;  
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 269px;
    width: 100vw;
    justify-content: center;
    align-items:flex-end;
}

.header__text{
    bottom: 0;
    color: var(--bg);
    padding-bottom: 1em;
    text-align: center;
}
.header__text > *{
    margin: 0;
}
.header__text--1{
    font-weight: 800;
    font-size: 30px;
}
.header__text--2{
    font-size: 20px;
    font-weight: 300;
}
.header-others{
    
}
.services__header-heading{
    font-size: 22px;
}   
.orange{
    color: var(--primary);
}
.img {
    width: 100%;
    height: 100%;
}
.services__header{
    margin-bottom: 5em;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
    margin: 0;
}
.section{
    margin-top: 0;
    margin-bottom: 2em;
}
.section-btn{
    display: block;
    padding:  0.5em;
    width: 30%;
    text-align: center;
    color: #EB6C27;
    border: 1px dashed var(--primary);
}
.section:nth-child(2n + 1) > img{
    border-bottom-left-radius: 4em;

}
.section:nth-child(2n) > img{
    border-bottom-right-radius: 2em;

}
.section-img{
    height: 15em;
    
}
.header__trust{
    display:flex;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url("../media/background-CTAblock-4460w.jpg");
    background-position: center;  
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 189px;
    width: 100vw;
    flex-direction: column;
}
.header__trust-text{
    color: var(--bg);
    font-size: 17px;
    margin: 1em 0 0 1em
}
.header__trust-btn{
    display: block;
    text-align: center;
    margin-top: 1.5em;
    margin-left: 1em;
    padding: 0.9em;
    width: 40%;
    background-color: var(--primary);
    color: var(--bg);
    font-weight: 700;
}

.reference{
    text-align: center;
    margin-top: 2em;
}
.reference-text{
    color: var(--text);
}
.reference > p{
    margin: 0;
    color: white;
}
.reference-img{
    height: 10em;
}
.btn{
    display: block;
    text-align: center;
    margin-top: 1.5em;
    padding: 0.9em;
    width: 47%;
    background-color: var(--primary);
    color: var(--bg);
    font-weight: 700;
}
.btn--white{
    color: var(--primary);
    background-color: var(--bg);
}
.btn--center{
    display: flex;
    justify-content: center;
}
.Contact__btn--width{
    width: 80%;
}
.footer {
    display: flex;
    margin-top: 5em;
    height: 283px;
    background-color: var(--primary);
    justify-content: center;
}
.white{
    color: white;
}
.footer__text{
    width: 80%;
    text-align: center;
    font-size: 15px;
    justify-content: center;
}

.orange-list{
    padding-left: 1.5em;
    list-style: disc;
}
.orange-list-item::marker{
    color: var(--primary);
    font-size: 1.5em;

}
.gap{
    gap: 1em;
}
.top-padding{
    padding-top: 4em;
    margin: 0;
}
.footer--top-padding{
    padding-top: 2em;
}
.NoMargin{
    margin: 0;
}
.Kontakt__list{
    font-weight: bold;
    color: var(--primary);
}
.Kontakt__list-element{
    
}
.Kontakt__list-element::marker{
    font-size: 3em;
}
.Contact__Map{
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(../media/mapa.jpg);
    height: 174px;
    width: 100vw;
}
.center{
    text-align: center;
}
@media only screen and (min-width: 760px){
    html > *{
        font-size: 16px;
    }
    h3{
        font-size: 22px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;

    }
    .services__header{
        text-align: center;
    }
    .section{
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }

    .section-img{
        width: 40vw;
        height: 100%
    }
    .section:nth-child(2n + 1) > img{
        grid-column: 2;
    
    }
    .reference--grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .orange-list{
        padding-left: 4em;
    }
    .Kontakt__list{
        padding-left: 4em;
    }
    .Kontakt--grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Contact__Map{
        margin-right: -50vw;
        width: 100%;
        height: 100%
    }

    .reference-img{
        height: 80%;
        width: 100%;
    }/*
    .reference-text{

    }
    .reference:hover{
        background-color: rgba(235, 108, 39, 0.9);
    }
    .reference{
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
    }*/
    .navbar{
        display: flex;
        width: 80vw;
        top: 1.5em;
        position: absolute;
    }
    .navbar-logo{
        
    }
    .hamburgermenu{
        display: none;
    }
    .menu{
        
        display: flex;
        width: fit-content ;
        background-color: rgba(255, 255, 255, 0);
        flex-direction: row;
        right: 0;
        top: 0;
        
    }
    .menu__item > a{
        color: var(--text--gray);
        
    }
    .menu__item{
        text-decoration: none;
        margin: 1.1em 1em;
    }
    .header-others{
        display:flex;
        background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%) ,url("../media/pageheader-1920w.jpg");
        background-position: center;  
        background-blend-mode: normal, normal, hue, normal;
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100px;
        width: 100vw;
        justify-content: center;
        align-items:flex-end;
    }
    .kontakt-heading{
        text-align: center;
        grid-column: span 2;
    }
}
@media only screen and (max-width: 960px) and (orientation: landscape){

}
@media only screen and (min-width: 961px){

}
@media only screen and (min-width: 1281px){ 
    .reference{
        position: relative;
    }
    .reference-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        color: rgba(255, 255, 255, 0);
    }
    .reference-img{
        height: 100%;
    }
    .reference-text:hover{
        background-color: rgba(235, 108, 39, 0.8);;
        color: var(--bg)
    }
}
